body {
  font-family: Arial;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #5E5D52;
  margin-top: 75px;
  margin-bottom: 25px;
}

table {
  border-left: 1px solid #1D96B2;
  border-right: 1px solid #1D96B2;
  margin: 0 auto;
  width: 1000px;
  border-collapse: collapse;
}

thead {
  background-color: #1D96B2;
}

td {
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #1D96B2;
  color: #5E5D52;
}

.white-box {
  background-color: #FFFFFF;
}

.gray-box {
  background-color: #EFEFEE;
}

.teal-box td {
  color: #FFFFFF;
  padding-left: 13px;
}

.title {
  padding-left: 13px;
  font-weight: bold;
  width: 260px;
}

.year {
  width: 10px;
  text-align: center;
}

.studio {
  text-align: center;
}

.world-gross {
  padding-left: 25px;
}

.dom-gross {
  padding-left: 15px;
}

#head3 {
  text-align: center;
}
